[Unit]
Description=System-wide CouchDB instance
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=couchdb
User=couchdb
ExecStart=/usr/local/bin/couchdb
Restart=on-failure

[Install]
WantedBy=multi-user.target
